:root {
  --rojo-logo: #f44336;
  --amarillo-logo: #fdd835;
  --azul-logo: #03a9f4;
  --naranja-logo: #f98e1c;
  --verde-logo: #8bc34a;
  --cyan-logo: #2aace3;
  --hueso: #fffdf7;
  --gris-logo: #333333;
  --blanco: #ffffff;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(180deg, #ebe4d0 0%, #4b84ac 50%, #8a6bab 100%);
  overflow-x: hidden;
  color: var(--gris-logo);
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
   padding-top: 90px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 6rem 2rem 2rem; /* 6rem para separar del header fijo */
}


.tema {
  background-color: var(--blanco);
  border-left: 8px solid var(--naranja-logo);
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  animation: fadeIn 1s ease-in;
}

.tema h2 {
  color: var(--naranja-logo);
  margin-bottom: 0.8rem;
}

.ejemplo {
  background-color: var(--amarillo-logo);
  border-left: 6px solid var(--naranja-logo);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 0.8rem 1.5rem;
  background-color: var(--naranja-logo);
  border: none;
  border-radius: 8px;
  color: var(--blanco);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--azul-logo);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}

.interactivo {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #e3f8fd;
  border-left: 6px solid var(--cyan-logo);
  border-radius: 8px;
}

.interactivo input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid var(--cyan-logo);
  border-radius: 6px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
}

#resultadoRelacion {
  margin-top: 1rem;
  font-size: 1.1rem;
}

button:last-of-type {
  background-color: var(--verde-logo);
}

button:last-of-type:hover {
  background-color: #689f38;
}

a.boton-evaluacion {
  display: block;
  text-align: center;
  margin: 2rem auto;
  padding: 0.8rem 1.5rem;
  background-color: var(--verde-logo);
  color: var(--blanco);
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  width: fit-content;
  transition: background 0.3s ease;
}

a.boton-evaluacion:hover {
  background-color: #689f38;
}
